<div>
    <h1>View for admins only!</h1>
    <form action="">
        View user
        <br/>
        <input type="text" placeholder="Ingrese el email del Usuario">
        <button type="submit">Submit</button>
    </form>
    <form action="">
        <input type="text" placeholder="Ingrese el email del Usuario">
    <button class="deleteUser">Delete user by email</button>
    </form>
    <form action="">
        <input type="text" placeholder="Ingrese el email del Usuario">
    <button class="changeRole">Change user role</button>
    </form>
</div>
<script src="/js/admin.js"></script>